@import "../styles/colors";

body, html {
  font-size: 100%;
  color: $darkGreen;
  overscroll-behavior: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
